<footer class="bg-white p-20 w-[1440px] mx-auto h-[510px] flex flex-col gap-10">
  <div class="mx-auto flex justify-between items-start w-[1280px]">
    <div class="flex flex-col gap-10">
      <img
        src="assets/logo.svg"
        alt="ABC for Health"
        class="w-[230px] h-[88px]"
      />
      <div class="flex flex-col justify-between h-[72px]">
        <div class="flex gap-2">
          <img src="assets/envelope-simple.svg" alt="" />
          <span class="text-[#24272D] text-[16px] font-passenger"
            >info&#64;safetyweb.org</span
          >
        </div>
        <div class="flex gap-2">
          <img src="assets/phone.svg" alt="" />
          <span class="text-[#24272D] text-[16px] font-passenger"
            >(608)261-6939</span
          >
        </div>
      </div>
      <div class="flex space-x-4 text-gray-600">
        <img src="assets/Social Icons.svg" alt="" class="h-[24px] w-[24px]" />
        <img
          src="assets/Social Icons (1).svg"
          alt=""
          class="h-[24px] w-[24px]"
        />
        <img
          src="assets/Social Icons (2).svg"
          alt=""
          class="h-[24px] w-[24px]"
        />
      </div>
    </div>

    <div class="grid grid-cols-2 gap-10 text-gray-700">
      <div>
        <ul class="flex flex-col gap-6 font-passenger">
          <li class="font-semibold text-[16px] text-[#3D444F]">LINK</li>
          <li>
            <a href="#" class="text-[16px] text-[#3D444F] hover:text-red-500"
              >Home</a
            >
          </li>
          <li>
            <a href="#" class="text-[16px] text-[#3D444F] hover:text-red-500"
              >Event</a
            >
          </li>
          <li>
            <a href="#" class="text-[16px] text-[#3D444F] hover:text-red-500"
              >Resource</a
            >
          </li>
          <li>
            <a href="#" class="text-[16px] text-[#3D444F] hover:text-red-500"
              >Contact</a
            >
          </li>
        </ul>
      </div>
      <div>
        <ul class="flex flex-col gap-6 font-passenger">
          <li class="font-semibold text-[16px] text-[#3D444F]">CONNECT</li>

          <li>
            <a href="#" class="text-[16px] text-[#3D444F] hover:text-red-500"
              >HealthWatch Wisconsin</a
            >
          </li>
          <li>
            <a href="#" class="text-[16px] text-[#3D444F] hover:text-red-500"
              >My Coverage Plan</a
            >
          </li>
          <li>
            <a href="#" class="text-[16px] text-[#3D444F] hover:text-red-500"
              >ABC for Rural Health</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="flex flex-col gap-6">
      <span class="font-semibold text-[16px] text-[#3D444F] font-passenger">
        CONTRIBUTE
      </span>
      <div class="rounded-lg bg-[#FEF3F2] w-[415px] h-[178px] flex">
        <img src="assets/Frame.png" alt="Donate" class="w-[180px] h-[178px]" />
        <div class="flex flex-col gap-6 p-5">
          <p class="text-[#24272D] leading-[21.6px] text-[16px]">
            Help Wisconsin communities get, use, and keep healthcare coverage.
          </p>
          <button
            class="bg-[#EE5544] text-white rounded-full font-semibold w-[134px] h-[48px] py-2 px-5 hover:bg-red-600 transition"
          >
            Donate Now
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="border-t pt-6 flex justify-between">
    <p class="text-[#24272D] font-passenger">
      © 2025 ABC for Health - All Rights Reserved.
    </p>
    <p class="flex gap-4 text-[#24272D]">
      <a href="#" class="hover:text-red-500 font-passenger">Terms of Service</a>
      •
      <a href="#" class="hover:text-red-500 font-passenger">Privacy Policy</a>
    </p>
  </div>
</footer>
