<div
  class="relative bg-cover bg-center p-20 gap-6 flex flex-col items-center text-center h-[336px] w-[1440px] mx-auto"
  style="background-image: url('assets/740363b3d8512fdd869b53b3dc5decf9.jpg')"
>
  <div
    class="absolute inset-0 opacity-20 z-10"
    style="background-image: url('assets/Frame 1948757247.png')"
  ></div>
  <div
    class="absolute inset-0 bg-gradient-to-r from-[#C91D0A] to-[#630E05] opacity-60 z-10"
  ></div>

  <h2
    class="relative text-white text-[40px] font-bold z-10 w-[720px] px-6 leading-[50px]"
  >
    Stay Informed with Latest Health Policy Updates
  </h2>

  <div
    class="relative flex items-center bg-white rounded-full shadow-md w-[480px] h-[52px] z-10 p-[2px] justify-between"
  >
    <div class="flex py-2 px-5 gap-2 w-[341px]">
      <img src="assets/envelope-simple.svg" class="h-[24px] w-[24px]" alt="" />

      <input
        type="email"
        class="flex-1 outline-none placeholder-[#3D444F] text-[#3D444F] bg-transparent"
        placeholder="Your email"
      />
    </div>
    <button
      class="w-[127px] h-[48px] bg-[#EE5544] flex text-white gap-2 rounded-full hover:bg-red-600 transition items-center justify-center"
    >
      <span class="text-white">Submit </span>
      <img src="assets/arrow-up-right.svg" class="h-[20px] w-[20px]" alt="" />
    </button>
  </div>
</div>
