<div class="flex flex-col md:flex-row items-center justify-between p-10 bg-white w-[1440px] h-[510px] mx-auto " style="overflow: hidden;">
    <!-- Left Content -->
    <div class="md:w-1/2 text-left w-[543px] ml-[30px]">
      <h2 class="text-[52px] font-semibold text-[#24272D] leading-[65px]">Staff Directory</h2>
      <p class="mt-4 text-gray-600 w-[630px]">
        Meet the dedicated team behind ABC for Health. Our staff is committed to
        supporting communities with expertise, advocacy, and resources to ensure
        safety and well-being for all.
      </p>
    </div>
  
    <!-- Right Content -->
    <div class="relative md:w-1/2 mt-8 md:mt-0 h-[510px] ml-[115px]">
      <div class="relative">
       <div class="w-[650px] overflow-hidden w">
        <img src="assets/e9d0f93f16b1819e5f21270e58b07961.png" alt="Staff working" class="absolute h-[480px] border ml-[70px] object-cover" />
       </div>
        <img src="assets/Frame 2147225372.png" alt="Staff working" class="absolute w-[400px] h-[480px]  ml-[-95px]"/>
       
      </div>
    </div>
  </div>
  