<nav
  class="w-full h-[88px] px-10 py-3 flex justify-between items-center bg-white"
>
  <div class="flex justify-between items-center w-[1440px] mx-auto">
    <div class="flex items-center h-[64px]">
      <img src="assets/logo.svg" alt="Logo" class="w-[100%] h-[100%]" />
    </div>

    <ul class="flex justify-between w-[354px] h-[22px]">
      <li><a href="#" class="text-[#24272D] hover:text-red-500">Home</a></li>
      <li><a href="#" class="text-[#24272D] hover:text-red-500">Event</a></li>
      <li class="relative group">
        <a href="#" class="text-[#24272D] hover:text-red-500 flex gap-2"
          ><span>Resources</span> <img src="assets/Vector (1).svg" alt="Logo"
        /></a>

        <ul
          class="absolute left-0 hidden bg-white shadow-md group-hover:block w-[120px]"
        >
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-200">Resource 1</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-200">Resource 2</a>
          </li>
        </ul>
      </li>
      <li><a href="#" class="text-[#24272D] hover:text-red-500">Contact</a></li>
    </ul>

    <button
      class="bg-[#EE5544] w-[134px] h-[48px] text-white px-4 py-2 rounded-full text-[16px]"
    >
      Donate Now
    </button>
  </div>
</nav>
