<section
  class="flex items-center justify-between p-20 bg-white overflow-hidden"
>
  <div class="flex justify-between items-center w-[1440px] mx-auto px-20">
    <div class="w-[680px] h-[350px] flex flex-col gap-[48px]">
      <div class="flex flex-col gap-[24px]">
        <div class="flex flex-col gap-[12px]">
          <p class="text-[16px] text-[#EE5544] font-semibold">
            Wisconsin-based, nonprofit public interest law firm
          </p>
          <h1 class="text-[52px] font-bold text-[#24272D] leading-[65px]">
            ABC for Health –
            <span class="text-[#EE5544] font-bold"
              >Advocating for Health Equity</span
            >
          </h1>
        </div>
        <p class="text-gray-600">
          ABC for Health is a nonprofit, public interest law firm dedicated to
          ensuring healthcare access and equity for all. We help families and
          individuals navigate complex health coverage systems, advocate for
          fair healthcare policies, and fight against medical debt.
        </p>
      </div>

      <div class="flex gap-6">
        <button
          class="bg-[#EE5544] w-[134px] h-[48px] text-white px-4 py-2 rounded-full text-[16px]"
        >
          Donate Now
        </button>
        <a
          href="#"
          class="text-red-500 font-medium flex items-center flex gap-2"
        >
          <span> Get Help </span>
          <img
            src="assets/arrow-up-right (1).svg"
            class="h-[20px] w-[20px]"
            alt=""
          />
        </a>
      </div>
    </div>

    <div class="relative">
      <img
        src="assets/hero-section-gradien1.png"
        alt="Healthcare discussion"
        class="w-[480px] h-[640px] absolute ml-[-200px] mt-[-170px]"
      />
      <img
        src="assets/Hero-Section-image.png"
        alt="Healthcare discussion"
        class="w-[480px] h-[640px] relative z-[1]"
      />
      <img
        src="assets/hero-section-gradien2.png"
        alt="Healthcare discussion"
        class="w-[480px] h-[640px] absolute mt-[-350px] ml-[80px]"
      />
    </div>
  </div>
</section>
