<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main>
  <app-navbar></app-navbar>
  <app-hero-section></app-hero-section>
  <app-healthcare-access></app-healthcare-access>
  <app-history-section></app-history-section>
  <app-project-section></app-project-section>
  <app-video-reports></app-video-reports>
  <app-stay-informed></app-stay-informed>
  <app-footer></app-footer>
</main>

<router-outlet />
