<section class="bg-gray-50 py-16 px-6 lg:px-20 w-[1440px] mx-auto">
  <!-- Title Section -->
  <div class="text-center mb-12">
    <h4 class="text-[16px] text-[#EE5544] font-semibold">Projects</h4>
    <h2 class="text-[48px] text-[#24272D] font-bold">See what we are doing</h2>
  </div>

  <!-- Projects Grid -->
  <div class="flex w-[1440px] flex flex-wrap gap-6 mx-auto">
    <div class="flex flex-col gap-6">
      <!-- Project 1 -->
      <div
        class="bg-white w-[410px] shadow-md rounded-lg flex flex-col p-6 justify-between hover:cursor-pointer border border-[#FECFCA] hover:shadow-lg transition h-full"
      >
        <div class="flex flex-col gap-3 flex-grow">
          <div class="flex items-start justify-between">
            <h3 class="text-[20px] font-bold text-[#24272D]">
              Health Benefits Counseling Services
            </h3>
            <a
              href="#"
              class="text-red-600 font-medium inline-flex items-center"
              ><img
                src="assets/arrow-up-right (1).svg"
                class="h-[20px] w-[20px]"
                alt=""
            /></a>
          </div>
          <p class="text-[#3D444F] text-[16px] mt-2 flex-grow">
            ABC for Health provides hands-on technical assistance through Health
            Benefits Counseling to help un- and under-insured patients link to
            health care coverage resources at SSM-Wisconsin Hospitals,
            UnityPoint Health-Meriter Hospital, Sau...
          </p>
        </div>
      </div>
      <!-- Project 4 -->
      <div
        class="bg-white w-[410px] shadow-md rounded-lg hover:cursor-pointer flex flex-col p-6 justify-between border border-[#FECFCA] hover:shadow-lg transition h-full"
      >
        <div class="flex flex-col gap-3 flex-grow">
          <div class="flex items-start justify-between">
            <h3 class="text-[20px] font-bold text-[#24272D]">
              Birth Cost Recovery: "It’s Not Child Support."
            </h3>
            <a
              href="#"
              class="text-red-600 font-medium inline-flex items-center"
              ><img
                src="assets/arrow-up-right (1).svg"
                class="h-[20px] w-[20px]"
                alt=""
            /></a>
          </div>
          <p class="text-[#3D444F] text-[16px] mt-2 flex-grow">
            For many years ABC for Health has researched and examined the
            Medicaid-related policy of Birth Cost Recovery in Wisconsin and the
            impact upon unma...
          </p>
        </div>
        <div class="mt-4">
          <img
            src="assets/image (1).png"
            alt="Birth Cost Recovery"
            class="w-full rounded-lg"
          />
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-6">
      <!-- Project 2 -->
      <div
        class="bg-white w-[410px] shadow-md rounded-lg flex flex-col p-6 justify-between border border-[#FECFCA] hover:shadow-lg transition h-full"
      >
        <div class="flex flex-col gap-3 flex-grow hover:cursor-pointer">
          <div class="flex items-start justify-between">
            <h3 class="text-[20px] font-bold text-[#24272D]">
              Legal Assistance in Health Care Financing
            </h3>
            <a
              href="#"
              class="text-red-600 font-medium inline-flex items-center"
              ><img
                src="assets/arrow-up-right (1).svg"
                class="h-[20px] w-[20px]"
                alt=""
            /></a>
          </div>
          <p class="text-[#3D444F] text-[16px] mt-2 flex-grow">
            With funding from the Wisconsin Trust Account Fund, ABC for Health
            provides direct legal representation and advice to low-income
            families facing denials of health care coverage and services. ABC is
            often the only source of legal assistance av...
          </p>
        </div>
      </div>
      <!-- Project 5 -->
      <div
        class="bg-white w-[410px] shadow-md rounded-lg flex flex-col p-6 justify-between border border-[#FECFCA] hover:shadow-lg transition h-full"
      >
        <div class="flex flex-col gap-3 flex-grow hover:cursor-pointer">
          <div class="flex items-start justify-between">
            <h3 class="text-[20px] font-bold text-[#24272D]">
              WisCare: The Path to Expanded Health Coverage for Wisconsin
            </h3>
            <a
              href="#"
              class="text-red-600 font-medium inline-flex items-center"
              ><img
                src="assets/arrow-up-right (1).svg"
                class="h-[20px] w-[20px]"
                alt=""
            /></a>
          </div>
          <p class="text-[#3D444F] text-[16px] mt-2 flex-grow">
            Since our founding in 1994, ABC for Health Inc. has steadfastly
            maintained that access to health care coverage and care is a
            fundamental right of all people...
          </p>
        </div>
        <div class="mt-4">
          <img
            src="assets/image (2).png"
            alt="WisCare: Expanded Health Coverage"
            class="w-full rounded-lg"
          />
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-6">
      <!-- Project 3 -->
      <div
        class="bg-white w-[410px] shadow-md rounded-lg flex flex-col p-6 justify-between border border-[#FECFCA] hover:shadow-lg transition h-full"
      >
        <div class="flex flex-col gap-3 flex-grow hover:cursor-pointer">
          <div class="flex items-start justify-between">
            <h3 class="text-[20px] font-bold text-[#24272D]">
              HealthCheck Task Force
            </h3>
            <a
              href="#"
              class="text-red-600 font-medium inline-flex items-center"
              ><img
                src="assets/arrow-up-right (1).svg"
                class="h-[20px] w-[20px]"
                alt=""
            /></a>
          </div>
          <p class="text-[#3D444F] text-[16px] mt-2 flex-grow">
            ABC for Health partnered with other advocates to address knowledge
            and program barriers and promote education and outreach for
            stakeholders...
          </p>
        </div>
        <div class="mt-4">
          <img
            src="assets/image.png"
            alt="HealthCheck Task Force"
            class="w-full rounded-lg"
          />
        </div>
      </div>

      <!-- Project 6 -->
      <div
        class="bg-white w-[410px] shadow-md rounded-lg flex flex-col p-6 justify-between border border-[#FECFCA] hover:shadow-lg transition h-full"
      >
        <div class="flex flex-col gap-3 flex-grow hover:cursor-pointer">
          <div class="flex items-start justify-between">
            <h3 class="text-[20px] font-bold text-[#24272D]">
              Precision Patient Advocacy
            </h3>
            <a
              href="#"
              class="text-red-600 font-medium inline-flex items-center"
              ><img
                src="assets/arrow-up-right (1).svg"
                class="h-[20px] w-[20px]"
                alt=""
            /></a>
          </div>
          <p class="text-[#3D444F] text-[16px] mt-2 flex-grow">
            Today technology solutions that enhance patient advocacy strategies
            through promotion of access to health care and coverage offer a
            promising path forward...
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- See All Projects Button -->
  <div class="text-center mt-12">
    <a
      href="#"
      class="inline-flex items-center gap-2 bg-[#EE5544] text-white px-6 py-3 rounded-full font-medium hover:bg-red-700 transition"
    >
      <span>See all projects</span>
      <img src="assets/arrow-up-right.svg" class="h-[20px] w-[20px]" alt="" />
    </a>
  </div>
</section>
