<div class="bg-[#EE5544] text-white py-12 px-20 rounded-[24px] w-[1440px] mx-auto h-[272px] relative">
  <div>
    <h1 class="text-[48px] font-medium mb-4">Referrals & Get Help</h1>
    <p class="max-w-3xl text-[16px]">
      At ABC for Health, we are committed to ensuring individuals and families receive the support
      they need. Whether you are seeking assistance for yourself or referring someone else,
      we're here to help.
    </p>
  </div>
  <div class="relative">
    <img
    src="assets/Frame (1).png"
    alt="Healthcare Support"
    class="absolute mt-[-250px] ml-[825px]"
  />
  </div>
  </div>
  