<div class="text-center mt-12  w-[1440px] h-[782px] mx-auto relative">
    <img
    src="assets/Group 1.png"
    class=" absolute w-[1440px] mt-[420px]" style="z-index: 9; opacity: 0.5; "
    alt=""
  />
    <p class="text-[#EE5544] font-medium text-[16px] mb-1">Referrals & Get Help</p>
    <h2 class="text-[48px] font-medium mb-4" style="letter-spacing: 0%;">Support from ABC for Health</h2>
    <p class=" mx-auto text-[#3D444F] mb-10 w-[871px]">
      ABC for Health is a Wisconsin-based, nonprofit public interest law firm dedicated to linking children and families,
      particularly those with special needs, to health care benefits and services.
    </p>
  
    <div class="flex flex-col md:flex-row justify-center gap-6 w-[733.33px] mx-auto relative"   style="z-index: 10;">
      <div class="flex flex-col w-[100%]">
        <p class="font-medium mb-3 text-[20px]">
            ABC for Health can assist or help refer Wisconsin residents who
          </p>
      <!-- Left Column -->
      <div class="bg-[#FEF3F2] border border-[#FEE4E2] p-6 rounded-xl w-full gap-8 text-left flex h-[290.5px]">
       
        <ul class="list-disc pl-5 text-[16px] text-[#3D444F] font-medium w-[330px]">
          <li>Are having trouble paying medical bills</li>
          <li>Have lost or will lose health coverage</li>
          <li>Need help determining which health coverage is right for them</li>
          <li>Need help determining eligibility for health benefits</li>
          <li>Have a pre-existing condition and can’t find health care coverage</li>
          <li>Are interested in applying for coverage programs such as BadgerCare Plus</li>
          
        </ul>
        <ul class="list-disc pl-5 text-[15px] text-[#3D444F] font-medium w-[330px]">
            <li>Received a claims denial or are in a dispute with their private insurer</li>
          <li>Received a denial of coverage from BadgerCare</li>
          <li>Have questions about having BadgerCare and private insurance at the same time</li>
          <li>Have questions about using their benefits</li>
          <li>Would like to know how health care reform will affect their coverage</li>
          </ul>
      </div>
      </div>
  
      <!-- Right Column -->
 <div class="w-[522px] h-[268px]">
    <p class="font-medium mb-3 text-[20px] ">
        Contact info
      </p>
    <div class="bg-[#FEF3F2] border border-[#FEE4E2] p-6 rounded-xl w-[522px] text-left space-y-3">
        <div class="flex gap-2"> <img
            src="assets/phone (1).svg"
            class="h-[20px] w-[20px] mt-1"
            alt=""
          /> 
          <div class="flex flex-col text-[#3D444F] font-medium" style="line-height: 21.5px;">
            <span>Phone</span>
            <span>
                Call (608) 261-6939 and speak with one of our advocates.
            </span>
          </div>
         
        </div>
        <div class="flex gap-2"> <img
            src="assets/fi_7175143.svg"
            class="h-[20px] w-[20px] mt-1"
            alt=""
          /> 
          <div class="flex flex-col text-[#3D444F] font-medium" style="line-height: 21.5px;">
            <span>Fax</span>
            <span>
                Fax (608) 261-6938 with your name and contact info, your client's name and contact, and a short summary of the issue.
            </span>
          </div>
         
        </div>
        <div class="flex gap-2"> <img
            src="assets/envelope-simple (1).svg"
            class="h-[20px] w-[20px] mt-1"
            alt=""
          /> 
          <div class="flex flex-col text-[#3D444F] font-medium" style="line-height: 21.5px;">
            <span>Email</span>
            <span>
                Send us a secure email with a short summary of the issue in the body of the email.
            </span>
          </div>
         
        </div>
      </div>
 </div>
    </div>

      

  
    <p class="text-xs text-gray-500 mt-6 italic relative"   style="z-index: 10;">
      *Please understand that contacting ABC for Health does not immediately establish an attorney-client relationship.
    </p>
  
    <button
        class="gap-2 w-[153px] flex h-[48px] justify-center items-center bg-[#EE5544] text-white font-semibold rounded-full transition mx-auto mt-10 relative"   style="z-index: 10;"
      >
        <div>Contact Us</div>
        <img
          src="assets/Vector (2).svg"
          class="h-[12px] w-[12px]"
          alt=""
        />
      </button>
    
  </div>
  