<div
  class="w-[1440px] mx-auto flex flex-col justify-between md:flex-row items-center rounded-lg shadow-lg overflow-hidden bg-[#EB4937]"
>
  <div class="w-[600px]">
    <img
      src="assets/image 6.png"
      alt="Healthcare Support"
      class="w-[600px] h-[713px] object-cover"
    />
  </div>

  <div
    class="w-[760px] h-[713px] py-20 flex flex-col text-white rounded-r-lg gap-12"
  >
    <div class="flex flex-col gap-6">
      <div class="flex flex-col gap-2">
        <p class="text-[16px] uppercase font-semibold">About us</p>
        <h2 class="text-[48px] font-bold leading-[60px]">
          Championing Healthcare <br />
          Access for All
        </h2>
      </div>
      <p class="text-[16px]">
        At ABC for Health, our mission is simple: ensure every family has access
        to quality healthcare, regardless of income or background. We provide
        legal expertise, policy advocacy, and direct assistance to help
        individuals secure the coverage they deserve.
      </p>

      <ul class="space-y-4">
        <li class="flex items-center gap-4">
          <img src="assets/heartbeat.svg" alt="Healthcare Support" class="" />
          <span>Health policy advocacy</span>
        </li>
        <div
          class="w-[480px] h-[1px] bg-gradient-to-r from-white to-[#EE5544]"
        ></div>

        <li class="flex items-center gap-4">
          <img
            src="assets/shield-check.svg"
            alt="Healthcare Support"
            class=""
          />

          <span>Legal assistance for coverage denials</span>
        </li>
        <div
          class="w-[480px] h-[1px] bg-gradient-to-r from-white to-[#EE5544]"
        ></div>

        <li class="flex items-center gap-4">
          <img src="assets/book-open.svg" alt="Healthcare Support" class="" />

          <span>Healthcare consumer education</span>
        </li>
      </ul>
    </div>
    <div class="mt-6">
      <button
        class="gap-2 w-[217px] flex h-[48px] justify-center items-center bg-white text-[#EE5544] font-semibold rounded-full transition"
      >
        <span>Learn more about us</span>
        <img
          src="assets/arrow-up-right (1).svg"
          class="h-[20px] w-[20px]"
          alt=""
        />
      </button>
    </div>
  </div>
  <img
    src="assets/Frame (1).png"
    alt="Healthcare Support"
    class="absolute mt-[400px] ml-[910px]"
  />
</div>
